# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# astro
/.astro/

# production
/dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files (can opt-in for commiting if needed)
.env*

# cloudflare
/.wrangler/

# typescript
*.tsbuildinfo

# Sentry Config File
.env.sentry-build-plugin
